---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import Carousel from '../components/Carousel.astro'
import Hero from '@/components/Hero.astro'
import Reservation from '@/components/Reservation.astro'
---

<Layout title="Salsa | Speakeasy Bar">
  <SectionContainer class="flex justify-center items-center">
    <Hero />
  </SectionContainer>
  <main>
    <!-- Membresía -->
    <article class="bg-primary">
      <SectionContainer class="py-6 md:py-12">
        <div
          class="flex flex-col justify-center gap-8 items-center dark:text-white"
        >
          <h1 class="md:w-[800px] h-auto text-4xl text-center">
            AHORA EN YUMBO SALSA SPEAKYEASY BAR
          </h1>
          <p class="font-[Goldman] text-center text-2xl lg:w-[820px]">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repellendus repudiandae, eveniet consectetur nostrum iusto
            consequuntur odit ipsam facilis est praesentium, dignissimos
            impedit, magni aliquam sequi at veniam nesciunt voluptatem minima?
          </p>
          <button
            type="button"
            class="font-[Goldman-bold] lg:w-48 h-auto text-white bg-success hover:bg-success-hover focus:outline-none focus:ring-4 focus:ring-success-ring font-medium rounded-full text-sm lg:text-xl px-5 py-2.5 text-center"
            >MEMBRESÍA</button
          >
        </div>
      </SectionContainer>
    </article>

    <!-- About -->
    <article class="dark:text-white">
      <SectionContainer
        class="max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-7xl mx-auto"
      >
        <div class="py-4">
          <Carousel />
        </div>

        <section class="flex flex-row gap-1.5 lg:gap-2 pb-4">
          <picture>
            <img src="/images/about/1.webp" alt="" />
          </picture>
          <picture>
            <img src="/images/about/2.webp" alt="" />
          </picture>
          <picture>
            <img src="/images/about/3.webp" alt="" />
          </picture>
          <picture>
            <img src="/images/about/4.webp" alt="" />
          </picture>
          <picture>
            <img src="/images/about/5.webp" alt="" />
          </picture>
        </section>

        <section
          class="text-xl flex flex-col md:text-2xl md:flex-row gap-4 py-4"
        >
          <p class="font-[Goldman] text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
            libero accusantium ipsum, esse sed nemo architecto ad cum
            reiciendis.
          </p>
          <p class="font-[Goldman] text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
            libero accusantium ipsum, esse sed nemo architecto ad cum
            reiciendis.
          </p>
        </section>
      </SectionContainer>
    </article>

    <!-- Menú -->
    <article class="dark:text-white">
      <SectionContainer class="flex flex-col justify-center gap-8 pt-10">
        <h2
          class="w-[400px] md:w-[600px] font-[Goldman-bold] text-4xl ml-10 lg:ml-20"
        >
          Salsas únicas y bebidas que evocan buenos momentos
        </h2>
        <section
          class="flex flex-col md:flex-row max-w-sm mx-auto gap-4 md:max-w-4xl lg:max-w-8xl lg:gap-6 xl:max-w-7xl pb-4"
        >
          <div class="flex flex-col justify-center gap-4 items-center">
            <picture>
              <img class="rounded-lg" src="/images/about/1.webp" alt="" />
            </picture>
            <button
              type="button"
              class="font-[Goldman-bold] lg:w-48 h-auto text-white bg-success hover:bg-success-hover focus:outline-none focus:ring-4 focus:ring-success-ring font-medium rounded-full text-sm lg:text-xl px-5 py-2.5 text-center"
              >COMIDAS</button
            >
          </div>
          <div class="flex flex-col justify-center gap-4 items-center">
            <picture>
              <img class="rounded-lg" src="/images/about/1.webp" alt="" />
            </picture>
            <button
              type="button"
              class="font-[Goldman-bold] lg:w-48 h-auto text-white bg-success hover:bg-success-hover focus:outline-none focus:ring-4 focus:ring-success-ring font-medium rounded-full text-sm lg:text-xl px-5 py-2.5 text-center"
              >BEBIDAS</button
            >
          </div>
        </section>
      </SectionContainer>
    </article>

    <!-- Eventos -->
    <article class="dark:text-white py-12">
      <SectionContainer class="flex flex-col justify-center items-center gap-8">
        <h2 class="md:w-[900px] text-3xl md:text-4xl px-8 text-center">
          ESPACIOS MULTIFUNCIONALES PARA TODO TIPO DE EVENTOS
        </h2>
        <section
          class="flex flex-col gap-2 md:grid md:grid-cols-2 md:gap-4 lg:grid-cols-4 lg:gap-4 pb-4 py-6 px-3 md:px-12"
        >
          <div
            class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-primary dark:border-primary-border"
          >
            <a href="#">
              <img class="rounded-t-lg" src="/images/about/1.webp" alt="" />
            </a>
            <div class="p-5">
              <a href="#">
                <h5
                  class="mb-2 font-[Goldman-bold] text-2xl tracking-tight text-gray-900 dark:text-white"
                >
                  Noteworthy technology acquisitions 2021
                </h5>
              </a>
              <p class="mb-3 font-[Goldman] text-gray-700 dark:text-gray-400">
                Here are the biggest enterprise technology acquisitions of 2021
                so far, in reverse chronological order.
              </p>
              <a
                href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-secundary dark:hover:bg-secundary-hover dark:focus:ring-secundary-ring"
              >
                Read more
                <svg
                  class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
              </a>
            </div>
          </div>

          <div
            class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-primary dark:border-primary-border"
          >
            <a href="#">
              <img class="rounded-t-lg" src="/images/about/1.webp" alt="" />
            </a>
            <div class="p-5">
              <a href="#">
                <h5
                  class="mb-2 font-[Goldman-bold] text-2xl tracking-tight text-gray-900 dark:text-white"
                >
                  Noteworthy technology acquisitions 2021
                </h5>
              </a>
              <p class="mb-3 font-[Goldman] text-gray-700 dark:text-gray-400">
                Here are the biggest enterprise technology acquisitions of 2021
                so far, in reverse chronological order.
              </p>
              <a
                href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-secundary dark:hover:bg-secundary-hover dark:focus:ring-secundary-ring"
              >
                Read more
                <svg
                  class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
              </a>
            </div>
          </div>

          <div
            class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-primary dark:border-primary-border"
          >
            <a href="#">
              <img class="rounded-t-lg" src="/images/about/1.webp" alt="" />
            </a>
            <div class="p-5">
              <a href="#">
                <h5
                  class="mb-2 text-2xl font-[Goldman-bold] tracking-tight text-gray-900 dark:text-white"
                >
                  Noteworthy technology acquisitions 2021
                </h5>
              </a>
              <p class="mb-3 font-[Goldman] text-gray-700 dark:text-gray-400">
                Here are the biggest enterprise technology acquisitions of 2021
                so far, in reverse chronological order.
              </p>
              <a
                href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-secundary dark:hover:bg-secundary-hover dark:focus:ring-secundary-ring"
              >
                Read more
                <svg
                  class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
              </a>
            </div>
          </div>

          <div
            class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-primary dark:border-primary-border"
          >
            <a href="#">
              <img class="rounded-t-lg" src="/images/about/1.webp" alt="" />
            </a>
            <div class="p-5">
              <a href="#">
                <h5
                  class="mb-2 text-2xl font-[Goldman-bold] tracking-tight text-gray-900 dark:text-white"
                >
                  Noteworthy technology acquisitions 2021
                </h5>
              </a>
              <p class="mb-3 font-[Goldman] text-gray-700 dark:text-gray-400">
                Here are the biggest enterprise technology acquisitions of 2021
                so far, in reverse chronological order.
              </p>
              <a
                href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-secundary dark:hover:bg-secundary-hover dark:focus:ring-secundary-ring"
              >
                Read more
                <svg
                  class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
              </a>
            </div>
          </div>
        </section>

        <p class="font-[Goldman] text-center text-2xl">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
          libero accusantium ipsum, esse sed nemo architecto ad cum reiciendis.
          Qui ipsa eveniet corporis, soluta reprehenderit quas commodi nulla
          omnis harum.
        </p>
      </SectionContainer>
    </article>

    <!-- Reservaciones -->

    <article class="bg-primary dark:text-white">
      <SectionContainer class="py-6 md:py-12">
        <section class="flex flex-col justify-center gap-8 items-center">
          <h2 class="text-2xl md:text-4xl text-center">
            RESERVA MOMENTOS INOLVIDABLES
          </h2>

          <Reservation />
        </section>
      </SectionContainer>
    </article>

    <style>
      main {
        min-height: 100vh;
      }

      @media screen and (min-width: 768px) {
        #grid-form {
          display: grid;
          grid-template-areas:
            'date persons hour'
            'button button button';
          grid-template-columns: 350px 1fr;
          grid-template-rows: 1fr auto;
        }
        #grid-date {
          grid-area: date;
        }
        #grid-persons {
          grid-area: persons;
        }
        #grid-hour {
          grid-area: hour;
        }
        #grid-button {
          grid-area: button;
        }
      }
    </style>
  </main>
</Layout>
