---
const navItems = [
  {
    title: 'Experiencia',
    label: 'experiencia',
    url: '/#experiencia'
  },
  {
    title: 'Proyectos',
    label: 'proyectos',
    url: '/#proyectos'
  },
  {
    title: 'Sobre mí',
    label: 'sobre-mi',
    url: '/#sobre-mi'
  },
  {
    title: 'Contacto',
    label: 'contacto',
    url: 'mailto:rivasbejaranoluis@gmail.com'
  }
]
---

<header class="fixed top-0 z-40 w-full mx-auto">
  <nav class="font-[Goldman] border-gray-200 bg-zinc-900/45 text-gray-200">
    <!-- max-w-screen-xl -->
    <div
      class="w-full flex flex-col md:flex-row items-center justify-between m-auto gap-2 p-4"
    >
      <a href="#" class="items-center space-x-3 rtl:space-x-reverse">
        <img
          src="/images/logo-header.svg"
          class="h-10 lg:h-16 xl:h-28"
          alt="Flowbite Logo"
        />
      </a>

      <div
        class="flex md:order-2 md:hidden space-x-3 md:space-x-0 rtl:space-x-reverse"
      >
        <button
          data-collapse-toggle="navbar-cta"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-cta"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"></path>
          </svg>
        </button>
      </div>

      <button
        type="button"
        class="font-[Goldman-bold] md:order-3 lg:w-48 h-auto text-white bg-success hover:bg-success-hover focus:outline-none focus:ring-4 focus:ring-success-ring font-medium rounded-full text-sm lg:text-xl px-5 py-2.5 text-center"
        >MEMBRESÍA</button
      >

      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-cta"
      >
        {
          navItems.map(link => (
            <a
              class="relative xl:text-2xl block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
              aria-label={link.label}
              href={link.url}
            >
              {link.title}
            </a>
          ))
        }
      </div>
    </div>
  </nav>
</header>
