---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script src="../../node_modules/flowbite/dist/datepicker.js"></script>
  </body>
</html>
<style is:global>
  html {
    font-family: 'locust-resistence', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background: #050505;
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;
  }
  @font-face {
    font-family: 'locust-resistence';
    src: url('/fonts/cgf-locust-resistance.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Goldman';
    src: url('/fonts/Goldman-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Goldman-bold';
    src: url('/fonts/Goldman-Bold.ttf') format('truetype');
    font-style: bold;
    font-display: swap;
    font-weight: 700;
  }
</style>
